body {
  background-image: url("./assets/img/Cheese.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-color: #fbea0b;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Background para ancho máximo de la pantalla física */
@media only screen and (max-device-width: 767px) {
  body {
    background-image: url("./assets/img/Cheese.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fbea0b;
  }
}
/* Background para ancho máximo del navegador */
@media only screen and (max-width: 767px) {
  body {
    background-image: url("./assets/img/Cheese.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fbea0b;
  }
}
