$time-animation: 2s;

.o-prueba {
  -webkit-animation: bounce $time-animation infinite; /* Safari 4+ */
  -moz-animation: bounce $time-animation infinite; /* Fx 5+ */
  -o-animation: bounce $time-animation infinite; /* Opera 12+ */
  animation: bounce $time-animation infinite; /* IE 10+, Fx 29+ */
}
.o-layer-background {
  position: absolute;
  background-color: rgba(29, 29, 29, 0.705);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
