$time-animation-in: 2s;
$time-animation-out: 1s;

.o-container-preview-in {
  position: absolute;
  background-color: #000000c0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  z-index: 1;

  //   --animate-duration: 2s;
  -webkit-animation: fadeIn $time-animation-in 1; /* Safari 4+ */
  -moz-animation: fadeIn $time-animation-in 1; /* Fx 5+ */
  -o-animation: fadeIn $time-animation-in 1; /* Opera 12+ */
  animation: fadeIn $time-animation-in 1; /* IE 10+, Fx 29+ */
}

.o-container-preview-out {
  position: absolute;
  background-color: #000000c0;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  z-index: 1;

  -webkit-animation: fadeOut $time-animation-out 1; /* Safari 4+ */
  -moz-animation: fadeOut $time-animation-out 1; /* Fx 5+ */
  -o-animation: fadeOut $time-animation-out 1; /* Opera 12+ */
  animation: fadeOut $time-animation-out 1; /* IE 10+, Fx 29+ */
}

.o-content-preview {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .o-preview {
    width: 60%;
  }

  .o-container-button-check {
    animation: button-check infinite 3s ease-out;

    .o-button-check {
      font-size: 22px;
      font-weight: 500;
      width: 9rem;
      padding: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(255, 255, 255);
      border-radius: 8px;
      background: #0599be;
      outline: none;
      border: none;
      cursor: pointer;
    }

    .o-button-check:hover {
      color: rgb(3, 3, 3);
      background: #fbea0b;
    }
    // #fbea0b
    .o-img-mouse {
      position: absolute;
      width: 5rem;
      margin-left: 7.4rem;
      margin-top: -5rem;
    }

    @keyframes button-check {
      0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }

      25% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
      }

      50% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }

      75% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
      }

      100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
    }
  }
}
