.o-container-loader {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: -2rem;
  // background-color: yellowgreen;

  .o-content-carousel {

    width: 30rem;
    height: 13rem;
    // background-color: #8e6daf;
    margin-bottom: 6rem;

    .o-slide-carousel {

      background-color: #3c0573;
      border-radius: 12px;
      border: 5px solid #ffffff;
      // width: 100%;
      height: 18rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .o-container-icon {

        position: absolute;
        background-color: #ffffff;
        padding: 0.5rem;
        
        border-radius: 12px;
      }

      .o-text-carousel {

        color: #ffffff;
        margin-top: 8rem;
        font-size: 18px;
      }
    }
  }

  .o-content-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 8rem;
    background-color: #3c0573;
    border-radius: 15px;
    border: 5px solid #ffffff;

    .o-loader {
    //   margin-top: 1rem;
      margin-left: 1rem;
    }
    
    .o-text-loading {
        color: #ffffff;
        font-size: 34px;
    }
  }

  @media only screen and (max-width: 756px) {
    .o-content-loader {
      width: 90%;
    }
    .o-content-carousel {
      width: 90%;
    }
  }
}


