.o-container-loader {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: -2rem;
  // background-color: yellowgreen;

  .o-content-carousel {
    width: 30rem;
    height: 13rem;
    // background-color: #8e6daf;
    margin-bottom: 6rem;
  }

  .o-content-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 8rem;
    background-color: #ffe600;
    border-radius: 15px;
    border: 5px solid #ffffff;

    .o-loader {
      //   margin-top: 1rem;
      margin-left: 1rem;
    }

    .o-text-loading {
      color: #0a0a0a;
      font-size: 34px;
      letter-spacing: 0.5px;
    }
  }

  @media only screen and (max-width: 756px) {
    .o-content-loader {
      width: 90%;
    }
    .o-content-carousel {
      width: 90%;
    }
  }
}
