.o-container-controls-player {
    position: fixed;
    bottom: 0;
    background-color: #111111c7;
    width: 13rem;
    // display: flex;
    // justify-content: space-around;
    padding: 0.5rem;
    border-radius: 12px 12px 0px 0px;
}