.o-container-btn-fullscreen {
  position: absolute;
  right: 0;
  background-color: #ffffff;
  width: 4rem;
  height: 4rem;
  margin: 0.8rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;

  .o-btn-fullscreen {
    width: 3rem;
    animation: Button-start-spin infinite 2s ease-out;
  }

  .o-btn-fullscreen:focus {
    outline: none;
  }
}

@keyframes Button-fullscreen {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
