@font-face {
  font-family: "MoonCheese Regular";
  src: url("../../../assets/fonts/MoonCheese-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.o-title-welcome {
  position: absolute;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff,
    0 0 40px rgb(0, 153, 255), 0 0 80px rgb(0, 153, 2550),
    0 0 90px rgb(0, 153, 255), 0 0 100px rgb(0, 153, 255),
    0 0 150px rgb(0, 153, 255);

  font-family: "Pacifico";
  top: 10%;
  left: 16%;
  font-size: 4em;
}

.o-container-start {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .o-content-start {
    background-color: #131313ee;
    width: 22rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    .o-text-jugar {
      font-weight: bold;
      padding: 0;
      margin-top: 1rem;
      font-size: 5rem;
      color: #ffffff;
      -webkit-text-stroke: 3px rgb(255, 255, 255); /* width and color */

      -webkit-animation: rollIn 2s 1; /* Safari 4+ */
      -moz-animation: rollIn 2s 1; /* Fx 5+ */
      -o-animation: rollIn 2s 1; /* Opera 12+ */
      animation: rollIn 2s 1; /* IE 10+, Fx 29+ */
    }
    @media only screen and (max-width: 767px) {
      .o-text-jugar {
        font-size: 3.6rem;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .o-content-start {
      width: 95%;
      max-width: 22rem;
    }
  }
}
